@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Mali:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');
*{
    font-family: 'Mali', cursive;
    background-color:rgb(15, 15, 14);
    padding: 0%;
    margin: 0%;
}
header{
    color: rgb(189, 107, 0);
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
}
.section1{
    width: 30%;
    float: left;
}
.section2{
    margin-top: 150px;
    width: 50%;
    float: right;
}
.img{
    width: 150%;
    align-items: center;
}
.box1{
    float: left;
}
.link{
    color: aliceblue;
    text-align: center;
    border: 1px solid yellow;
    margin-bottom: 15px;
    padding: 10px;
    list-style: none; 
    
}