html{
    font-size: calc(60% + 0.8vmin);
}
*{
    padding: 0%;
    margin: 0%;

}
body{
    background-color: #FAF7F2;
}
header{
    background-color: #646F5F; 
    padding: 1px;
}
.div-con{
    color:#FAF7F2;
    height: 60px;
    display: flex; /*เเยกโลโก้กับเมนู*/
    justify-content: space-between; /* ทำชิดซ้าย ชิดขวา*/
    padding: 0 4rem;
    align-items: center; /*ทำโลโก้ให้อยู่ตรงกลาง*/
    font-family: 'Shippori Antique', sans-serif;
}
ul.menu{
    display: flex; /*มำเมนูให้เป็นเเนวนอน*/
    list-style: none; /*ลบจุดขาว*/
}
ul.menu li{
    margin-left: 2rem; /*สร้างระยะห่างเมนู*/
}
ul.menu li a{
    color: #FAF7F2;
    text-decoration: none; /*ลบขีดเส้นใต้ที่ลิงค์*/ 
}
.welcome{
    color: #646F5F; 
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
}
.section1 > img{
    width: 30%;
    float: left;
   
}
.section1 > img{
    align-items:center;
    width: 45%;
    display: block;
    margin: right;
}
.section2{
    margin-top: 150px;
    width: 50%;
    float: right;
}
.img{
    
    justify-content: right;
   
}
.box1{
    float: left;
}
section .navbar ul li a{
    font-family: 'Bebas Neue', cursive;     
    display: block;
    padding: 10px;
    margin-top: 1px;
    margin: 10px;
    background:#646F5F;
    color:#FAF7F2;
    font-size: 2rem;
    border-radius: 5rem;
    text-align: center;
    width: 500px;
    text-decoration: none;
}
section .navbar ul li{
    list-style: none;
}


