@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Mali:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');
*{
    font-family: 'Mali', cursive;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(68, 67, 66); 
    padding: 1px;
}
.div-con{
    color:rgb(253, 246, 246);
    height: 60px;
    display: flex; /*เเยกโลโก้กับเมนู*/
    justify-content: space-between; /* ทำชิดซ้าย ชิดขวา*/
    padding: 0 4rem;
    align-items: center; /*ทำโลโก้ให้อยู่ตรงกลาง*/
}
ul.menu{
    display: flex; /*มำเมนูให้เป็นเเนวนอน*/
    list-style: none; /*ลบจุดขาว*/
}
ul.menu li{
    margin-left: 2rem; /*สร้างระยะห่างเมนู*/
}
ul.menu li a{
    color: rgb(253, 247, 247);
    text-decoration: none; /*ลบขีดเส้นใต้ที่ลิงค์*/   
}
html {
    background: #fcfcfc;
}

.body-content {
    padding-top: 20vh;
}

.container {
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid White;
    border-radius: 15px;
    background-color: rgb(161, 158, 158);
}

.logo1 {
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0;
    text-align: center;
}

.logo1 img {
    width: 95px;
    margin: 10px;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin: 5px;
    padding-bottom: 10px;
    display: flex;
}

.form-item label {
    display: block;
    padding: 2px;
    font-size: 20px;
    width: 100px;
}

.form-item input {
    width: 320px;
    height: 35px;
    border: 2px solid rgb(255, 255, 255); /*เส้นขอบ*/
    border-radius: 20px;
    background:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 4px ;
    padding-right:10px;
    padding-left: 10px;
}

.form-btns {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 0;
}

.form-btns button {
    margin: auto;
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid;
    border-radius: 15px;
    color: white;
    background:  #535758 ;
    width: 280px;
    cursor: pointer;
}

.options {
    padding-top: 15px;
    margin: auto;
}

.options a {
    text-decoration: none;
    color: black;
    margin: 0 40px;
    font-size: 15px;
}

.options a:hover {
    color: grey;
}

p {
    text-align: center;
    font-size: 10px;
}