@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Mali:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');
*{
    font-family: 'Mali', cursive;
    margin: 0;
    padding: 0;
    
}
header{
    background-color:#646F5F; 
    padding: 1px;
}
.div-con{
    color:rgb(253, 246, 246);
    height: 60px;
    display: flex; /*เเยกโลโก้กับเมนู*/
    justify-content: space-between; /* ทำชิดซ้าย ชิดขวา*/
    padding: 0 4rem;
    align-items: center; /*ทำโลโก้ให้อยู่ตรงกลาง*/
}
ul.menu{
    display: flex; /*มำเมนูให้เป็นเเนวนอน*/
    list-style: none; /*ลบจุดขาว*/
}
ul.menu li{
    margin-left: 2rem; /*สร้างระยะห่างเมนู*/
}
ul.menu li a{
    color: rgb(253, 247, 247);
    text-decoration: none; /*ลบขีดเส้นใต้ที่ลิงค์*/ 
}
.home{
    padding: 10px;
    margin-top: 1px;
    margin: 10px;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    list-style: none;
}
.home > a{
    color: rgb(253, 247, 247);
    text-decoration: none;
}

body {
    overflow: hidden; /* แถบร้านให้ชิดกับ header */
    height: 400px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: #646F5F; 
    border-radius: 4px;
    font-size: 12px;

}
#form h1 {
    color: white;
    text-align: center;
    padding: 3px;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #535758 ;
    border: none;
    border-radius: 4px;
}
.input-control {
    display: flex;
    flex-direction: column;
    color: white;
}
.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%; /*ความยาวของเเถบที่ป้อนข้อมูล*/
}
.input-control input:focus {
    outline: 0;
}
.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: #ff3860;
}
.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
